<p id="notice"><%= notice %></p>

<% if user_signed_in? %>


<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#e3e3e3;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{text-align:center;font-family:Cursive;font-size:55px; color:#f995c5;background-color:#e3e3e3;}

table, th, td {
         border: 1px solid black;
         text-align:center;font-size:15px;
      }

</style>
</head>
<body>
<h1>Recipe Finder</h1>

<div class="card">

<table style="width: 100%">

<thead>

<tr>
  <th style="padding:10px">Title</th>
  <th style="padding:10px">Description</th>
  <th style="padding:10px">Rating</th>
  <th style="padding:10px">Date</th>
  <th colspan="4"></th>

</tr>

</thead>


  <tbody>

    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.rating %></td>
        <td><%= project.date %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

</tbody>

</table>

<br>
<td><%= link_to "<button>New Project</button>".html_safe, new_project_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>

</div>

<p></p>
</body>
</html>




<% end %>