<p id="notice"><%= notice %></p>

<% if user_signed_in? %>



<style>
  h1 {
    text-align:center
  }

  body {
  background-color: lightpink;
}

</style>

<h1>Recipe Finder</h1>

<div class="card">

<table>
  <thead>
    <tr>
      <th style="color:black; font-size:18pt;">Title</th>
      <th style="color:black; font-size:18pt;">Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>


  <tbody>

    <% @projects.each do |project| %>
      <tr>

        
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= link_to "<button>Show</button>".html_safe, project, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
        <td><%= link_to "<button>Edit</button>".html_safe, edit_project_path(project), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
        <td><%= link_to "<button>Destroy</button>".html_safe, project, method: :delete, data: { confirm: 'Are you sure?' }, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
        
      </tr>
    <% end %>

</tbody>

</table>

<br>
<td><%= link_to "<button>New Project</button>".html_safe, new_project_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>

</div>

<% end %>