<p id="notice"><%= notice %></p>


<style>
  h1 {
    text-align:center
  }

  body {
  background-color: lightpink;
}

</style>

<h1>Recipe Finder</h1>

<table>
  <thead>
    <tr>
      <th style="color:black; font-size:18pt;">Title</th>
      <th style="color:black; font-size:18pt;">Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
