<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<td><%= link_to "<button>Edit</button>".html_safe, edit_project_path(@project), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
<td><%= link_to "<button>Back</button>".html_safe, projects_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>


<style>
  h1 {
    text-align:center
  }

  body {
  background-color: lightpink;
}

